Django==1.4.5
PIL
South
django-reversion
django-mptt
-e git+git://github.com/toastdriven/django-haystack.git#egg=django-haystack
-e git+git://github.com/toastdriven/pyelasticsearch.git#egg=pyelasticsearch
-e git+git://github.com/divio/django-shop.git#egg=django-shop
-e git+git://github.com/fivethreeo/django-netaxept#egg=django-netaxept
-e git+git://github.com/fivethreeo/django-shop-netaxept#egg=django-shop-netaxept
-e git+git://github.com/piquadrat/django-treeadmin.git#egg=django-treeadmin
django-cms
djangocms-utils
django-cms-facetsearch
cmsplugin-blog
cmsplugin-blog-search
simple-translation
django-categories
django-filer
django-pagination
django-tagging
django-tinymce
django-celery
python-memcached
cmsplugin-filer
easy-thumbnails
gunicorn
psycopg2
django-rosetta
celery-haystack
BeautifulSoup
simplejson
